.progress-wrap {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .7s;
    transition: .7s;
    /*button background*/
    background: white;

    /*shadow*/
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.30);
}

@media screen and (max-width: 768px) {
    .progress-wrap {
        display: none;
    }
}

.progress-wrap:hover {
    background: #a8a8a8;
    transform: scale(1.5);

    /*shadow*/
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.50);
}

.progress-wrap:active {
    transform: scale(1.3);

    /*shadow*/
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.40);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.40);
}

.progress-wrap:hover::before {
    opacity: 1;
}

.progress-wrap:hover::after {
    opacity: 0;
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
}

.progress-wrap::before {
    position: absolute;
    content: '↑';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    opacity: 0;
    /*arrow hoover*/
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
}

.progress-wrap::after {
    position: absolute;
    content: '↑';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    color: black;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
}

.progress-wrap svg path {
    fill: none;
}

.progress-wrap svg.progress-circle path {
    stroke: black;
    stroke-width: 4;
    box-sizing: border-box;
}